:root{
    --navbar-height: 50px;

    --Color1: #095256; /*Deep Jungle Green*/
    --Color2: #087F8C; /*Metallic Seaweed*/
    --Color3: #5AAA95; /*Polished Pine*/
    --Color4: #86A873; /*Asparagus*/
    --Color5: #BB9F06; /*Lemon Curry*/
    --Color6: #D18804;

}

*{
    font-family: 'Roboto Mono', monospace;
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    padding: 0px;
    margin: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#root{
    height: 100vh;
}



@media only screen and (max-height: 600px) {

    body{
        height: auto;
    }
    #root{
        min-height: 500px;
    }

    #gitButton{
        bottom: 80px;
    }


}