:root{
    --navbar-height: 50px;

    --Color1: #095256; /*Deep Jungle Green*/
    --Color2: #087F8C; /*Metallic Seaweed*/
    --Color3: #5AAA95; /*Polished Pine*/
    --Color4: #86A873; /*Asparagus*/
    --Color5: #BB9F06; /*Lemon Curry*/
    --Color6: #D18804;

}

*{
    font-family: 'Roboto Mono', monospace;
}

#header, #footer{
    background-color: var(--Color5);
    height: 50px;
    width: 100%;

    padding: 0px;
    margin: 0px;

    font-size: 1.2em;

    display: flex;
    align-items: center;
}

body{
    height: 100vh;
    padding: 0px;
    margin: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#root{
    height: calc(100vh - 100px);
}

h1{
   
    margin: 0px;
    padding: 0.5em 0.25em 0.5em 5%;

    display: flex;
    align-items: center;

    color: white;
}

#gitButton{
    position: relative;
    bottom: 10%;
    width: 300px;

    height: 75px;

    border-style: solid;
    border-radius: 5px;
    border-color: var(--Color5);

    background-color: #095256;
}

a{
    text-decoration: none;
    color: white;
    background-color: unset;
    width: 100%;
    height: 100%;
}

@media only screen and (max-height: 600px) {

    body{
        height: auto;
    }
    #root{
        min-height: 500px;
    }

    #gitButton{
        bottom: 80px;
    }


}